version: '3.8'
services:
  django_admin:
    build: ./cms_admin
    image: booppa-django-admin:local
    env_file:
      - .env
    ports:
      - '8001:8001'
    depends_on:
      - postgres
    restart: unless-stopped
